.taskListWrapper {
  display: table;
  /* border-bottom: #e6e4e4 1px solid;
  border-left: #e6e4e4 1px solid; */
}
.taskListTableRow {
  display: table-row;
  text-overflow: ellipsis;
}
.taskListTableRow:nth-of-type(even) {
  /* background-color: #f5f5f5; */
}
.taskTypeDotTask {
  display: inline-block;
  color: #83d004;
  padding-right: 4px;
  font-size: small;
}
.taskTypeDotGrp {
  display: inline-block;
  color: #3db4c7;
  padding-right: 4px;
  font-size: small;
}
.taskListCell {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #345185;
  font-size: medium;
}
.taskListDateChip {
  display: inline-block;
  color: #345185;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #f1f5f9;
  padding: 4px 10px;
  font-size: small;
}
.taskListNameWrapper {
  display: flex;
  align-items: center;
}
.taskListExpander {
  user-select: none;
  cursor: pointer;
}
.taskListEmptyExpander {
  user-select: none;
}

.expander {
  width: 10px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
