.taskListWrapper {
  display: table;
  /* border-bottom: #e6e4e4 1px solid;
  border-left: #e6e4e4 1px solid; */
}

.taskListTableRow {
  display: table-row;
  text-overflow: ellipsis;
}

.taskListTableRow:nth-of-type(even) {
  /* background-color: #f5f5f5; */
}
.taskTypeDotTask {
  display: inline-block;
  color: #83D004;
  padding-right: 4px;
  font-size: x-large;
}
.taskTypeDotGrp {
  display: inline-block;
  color: #3DB4C7;
  padding-right: 4px;
  font-size: x-large;
}
.taskListCell {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #345185;
  font-size: medium;
}
.taskListDateChip {
  display: inline-block;
  color: #345185;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #F1F5F9;
  padding: 4px 10px;
}
.taskListNameWrapper {
  display: flex;
}

.taskListExpander {
  color: rgb(86 86 86);
  font-size: 0.6rem;
  padding: 0.15rem 0.2rem 0rem 0.2rem;
  user-select: none;
  cursor: pointer;
}
.taskListEmptyExpander {
  font-size: 0.6rem;
  padding-left: 1rem;
  user-select: none;
}
